* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:Georgia, 'Times New Roman', Times, serif;
  margin: 0;
  background-color: #f0ebeb;
}

a {
  text-decoration: none;
  color: white;
}

header {
  display: flex;
  background-color: #14161A;
  min-height: 70px;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 50px;
  margin-right: 12px;
}

nav a {
  font-weight: 600;
  padding-right: 11px;
}

nav a:hover {
  color: #F0DB4F;
}

label {
  font-size: 20px;
  color: green;
  font-weight: bold;
}
h1{
  text-align: center;
  margin-top: 20px;
  font-size: 2.5rem;
  color: rgb(141, 5, 28);
  font-weight: bold;
}

.registrarPago{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.registrarPagoImput{
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  margin-top: 20px;
}

.nombre{
  width: 20rem;
  padding: 10px;
  font-size: 20px;
}
.pago{
  width: 5rem;
  padding: 10px;
  font-size: 20px;
  font-weight: 700px;
}

.agregar {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: #fff; /* Texto blanco */
  background-color: #137217;
  user-select: none;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
}
.agregar:hover {
  background-color: #45a049;
}
.registrosPagados{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
  margin-top: 3rem;
}



table {
  border-collapse: collapse;
  width: 70%;
}

th, td {
  border: 2px solid #3f3d3d;
  padding: 8px;
  text-align: left;
}

i{
  transition:  all 0.08s ease;
  float: right; 
  cursor: pointer;
}

i:hover{
  color: red;
  transform: scale(1.5);
}



th {
  background-color: #4CAF50;
  color: white;
}


/* ... Tus estilos existentes ... */

.menu-toggle {
  display: none;
  cursor: pointer;
}

.menu-toggle span {
  display: block;
  width: 30px;
  height: 3px;
  margin: 6px 0;
  background-color: #fff;
}

/* @media screen and (max-width: 768px) {
  table {
    border-collapse: collapse;
    width: 100%;
  }
  th, td {
    font-size: 17px;
    font-weight: 500;
  }
  .menu-toggle {
    display: block;
  }
  .registrarPagoImput{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .nombre{
    width: 100%;
  }

  label{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: #333;
  }

  nav.show {
    display: flex;
  }

  nav a {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #555;
  }
} */




/* ... Tus estilos existentes ... */

/* Estilos para tamaños de pantalla pequeños (teléfonos) */
@media only screen and (max-width: 768px) {
  table {
    border-collapse: collapse;
    width: 100%;
  }
  th, td {
    font-size: 17px;
    font-weight: 500;
  }

  .registrarPagoImput {
    flex-direction: column;
    align-items: center;
  }

  .nombre,
  .pago {
    width: 90vw; /* Ancho completo en pantallas pequeñas */
    box-sizing: border-box;
    margin-right: 0;
  }

  label {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 16px; /* Ajuste del tamaño de la fuente */
  }

  .agregar {
    width: 70%; /* Ancho completo en pantallas pequeñas */
    margin-top: 10px; /* Ajuste del margen superior */
  }

  nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: #333;
  }

  nav.show {
    display: flex;
  }

  nav a {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #555;
  }
}

/* ... Otros estilos específicos para tabletas y pantallas grandes ... */